<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Caption Generation</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/upload-img.css">
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/vue.min.js"></script>
    <script src="../static/js/axios.js"></script>
    <script src="../static/js/fontscroll.js"></script>

    <script>

        $(document).ready(function () {
            var whei = $(window).width()
            $("html").css({ fontSize: whei / 22 });
            $(window).resize(function () {
                var whei = $(window).width();
                $("html").css({ fontSize: whei / 22 })
            });
        });
    </script>
</head>
<body>

<div class="main">

    <!--头部-->
    <div class="header">
        <div class="header-left" id="time"></div>
        <div class="header-cen">
            <h1>Image Caption Generation</h1>
        </div>
        <div class="header-right"></div>
    </div>

    <!--中间-->
    <div class="content">
        <!--左边-->
        <div class="content-left fl">
            <!--左上-->
            <div class="left-top">
                <div class="title">
                    <span>Introduction</span>
                </div>
                <div class="content-text">
                    <p>Caption generation is a challenging artificial intelligence problem where a textual description must be generated for a given picture. It requires both methods from computer vision to understand the content of the image and a language model from the field of natural language processing to turn the understanding of the image into words in the right order.</p>
                    <div class="try-words">So you can try it now, and enjoy this magic.</div>
                </div>
                <div class="random-button">
                    <a class="random" href="/random">Random Generation</a>
                </div>
            </div>
            <!--左中-->
            <div class="left-center" style="visibility:hidden">
                <div class="title">
                    <span></span>
                </div>

            </div>
            <!--左下-->
            <div class="left-bottom" style="visibility:hidden">
                <div class="title">
                    <span></span>
                </div>

            </div>
        </div>
        <!--中间-->
        <div class="content-center fl">
            <!--头部-->
            <div class="center-top">
                <div class="top-overall">
                    <div class="show-img">
                        {% if img_dict.flag==0 %}
                        <img src="../static/test_imgs/{{ img_dict.img }}.png">
                        {% else %}
                        <img src="data:img/png;base64,{{ img_dict.img }}">
                        {% endif %}
                    </div>
                </div>

            </div>
            <!--底部-->
            <div class="center-bottom">
                <div class="title">
                    <span>Result of Caption Generation</span>
                </div>
                <div class="bottom-overall">
                    <h2>{{ img_dict.caption }}</h2>
                </div>
            </div>
        </div>
        <!--右边-->
        <div class="content-right fr">
            <!--右上-->
            <div class="right-top">
                <div id="app" class="container" v-cloak>
                <!--选项卡内容-->
                <div id="tab_header">
                    <ul>
                        <li class="selected">Upload Picture ({[imgTempList.length]}/1)</li>
                    </ul>
                </div>
                <!--内容 上传图片-->
                <div id="tab_content">

                        <div class="uploading-data" v-if="isUploading"></div>

                        <div class="upload-img-column">
                            <div class="upload-wrap">
                                <div class="box">
                                    <label class="p dotted">
                                        <input type="file" accept="image/jpg,image/jpeg,image/png" name="file"
                                               @change="onChooseImage($event)"/>
                                        <img src="../static/images/plus.png" alt="">
                                    </label>
                                </div>
                                <template v-for="(imgItem, imgIndex) in imgTempList">
                                    <div class="box">
                                        <div class="p">
                                            <img :src="imgItem">
                                            <div class="delete" @click.stop="deleteImg(imgIndex)">
                                                <img src="../static/images/close.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </div>

                        <button class="l-btn" @click="onUploadImg">Upload</button>

                        <!-- 图片上传成功后返回的路径(没必要的) -->
                        <div class="success-path">
                            <template v-for="(item, index) in successPath">
                                <a :href="item" target="_blank">{{item}}</a>
                            </template>
                        </div>

                    </div>
                </div>
                <!--选项卡内容-->
            </div>
            <!--右下-->
            <div class="right-bottom">
                <div class="title" id="nospace">
                    <span>Historic Records</span>
                </div>

                <div class="fav_list">
                    <div class="fav_list_box">
                        <div  class="my_fav_con">
                            <div>
                                <ul  class="my_fav_list">
                                    {% for i in range(rec_len) %}
                                    <li class="my_fav_list_li" id="{{ rec_list[i]['ic_id'] }}">
                                        <a  class="my_fav_list_a" href="/list/{{ i }}">
                                            {{ rec_list[i]['ic_caption'] }}
                                        </a>
                                    </li>
                                    {% endfor %}

                                </ul> <!---->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



</div>









<script>
    //顶部时间
    function getTime(){
        var myDate = new Date();
        var myYear = myDate.getFullYear(); //获取完整的年份(4位,1970-????)
        var myMonth = myDate.getMonth()+1; //获取当前月份(0-11,0代表1月)
        var myToday = myDate.getDate(); //获取当前日(1-31)
        var myDay = myDate.getDay(); //获取当前星期X(0-6,0代表星期天)
        var myHour = myDate.getHours(); //获取当前小时数(0-23)
        var myMinute = myDate.getMinutes(); //获取当前分钟数(0-59)
        var mySecond = myDate.getSeconds(); //获取当前秒数(0-59)
        var week = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
        var nowTime;

        nowTime = myYear+'-'+fillZero(myMonth)+'-'+fillZero(myToday)+'&nbsp;&nbsp;'+fillZero(myHour)+':'+fillZero(myMinute)+':'+fillZero(mySecond)+'&nbsp;&nbsp;'+week[myDay]+'&nbsp;&nbsp;';
        //console.log(nowTime);
        $('#time').html(nowTime);
    };
    function fillZero(str){
        var realNum;
        if(str<10){
            realNum	= '0'+str;
        }else{
            realNum	= str;
        }
        return realNum;
    }
    setInterval(getTime,1000);
</script>
<script>
 $(function () {
     var allLis=document.getElementById("tab_header").getElementsByTagName("li");
     var allDom = document.getElementById("tab_content").getElementsByClassName("dom");

     // console.log(allLis, allDom);

     // 2. 遍历监听
     for(var i=0; i<allLis.length; i++){
         var li = allLis[i];
         li.index = i;

         li.onclick = function () {
             console.log(i);
             for(var j=0; j<allLis.length; j++){
                 allLis[j].className = '';
                 allDom[j].style.display = 'none';
             }

             this.className = 'selected';
             allDom[this.index].style.display = 'block';

         }
     }
 })
</script>

<script>

    var app = new Vue({
        el: '#app',
        delimiters:['{[', ']}'],
        data: {
            imgTempList: [], //图片临时路径列表
            isUploading: false, //是否正在上传
            successPath: [], //上传成功后的路径(没必要)
        },
        mounted: function () {
            var that = this;
        },
        watch: {},
        methods: {
            //选择图片
            onChooseImage: function (event) {
                var that = this;

                //判断图片数量是否已上限
                var currentImgTempArray = that.imgTempList;
                if (currentImgTempArray.length >= 1) {
                    alert("Upload up to 1 picture!");
                    return false;
                }

                //使用FileReader对文件对象进行操作
                var reader = new FileReader();
                reader.readAsDataURL(event.target.files[0]); //将读取到的文件编码成Data URL
                reader.onload = function () { //读取完成时
                    var replaceSrc = reader.result; //文件输出的内容


                    //调用图片压缩处理方法
                    that.compressedImage({
                        src: replaceSrc,
                        quality: 0.8,
                        success: function (src) {
                            //将压缩后的路径 追加到临时路径数组中
                            var totalList = [];
                            if (currentImgTempArray.length > 0) {
                                totalList = currentImgTempArray.concat(src);
                            } else {
                                totalList[0] = src;
                            }
                            that.imgTempList = totalList;
                        }
                    });
                };

            },

            //删除某张图片
            deleteImg: function (idx) {
                var that = this;
                that.imgTempList.splice(idx, 1);
            },


            //提交上传图片
            onUploadImg: function () {
                var that = this;
                var imgTempList = that.imgTempList;
                if (imgTempList.length > 0) {

                    that.isUploading = true; //正在上传 显示遮罩层 防止连续点击

                    var countNum = 0; //计算数量用的 判断上传到第几张图片了

                    //map循环遍历上传图片
                    imgTempList.map(function (imgItem, imgIndex) {
                        var files = that.dataURLtoFile(imgItem, 'pj' + Date.now() + '.jpg'); //DataURL转File

                        //创FormData对象
                        var formdata = new FormData();
                        //append(key,value)在数据末尾追加数据。 这儿的key值需要和后台定义保持一致
                        formdata.append('img', files);

                        //axios拦截
                        axios.interceptors.response.use((response) => {
                            return response;
                        }, function (error) {
                            if (401 === error.response.status) {
                                window.location = '/';
                            } else {
                            return Promise.reject(error);
                            }
                        });

                        axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';

                        //用axios上传，
                        axios({
                            method: "POST",
                            //url: "http://www.clluo.com:8060/uploadImg", //请将图片上传路径换成自己的。这是测试用的，会不定期删除图片
                            url: "http://127.0.0.1:5000/getImg",
                            data: formdata,
                            headers: {
                                "Content-Type": "multipart/form-data"
                            }
                        }).then(function (res) {
                            countNum++;
                            //图片全部上传完后去掉遮罩层
                            if (countNum >= imgTempList.length) {
                                that.isUploading = false;
                            }

                            //没必要的代码 👇
                            var list = [];
                            if (that.successPath.length > 0) {
                                list = that.successPath.concat(res.data.path);
                            } else {
                                list[0] = res.data.path;
                            }
                            that.successPath = list;

                        }).catch(function (error) {
                            console.error(error);
                        });
                    });
                }
            },

            /**
             * 压缩图片处理
             * @src 需要压缩的图片base64路径
             * @quality 图片质量 0-1，默认1
             * @success()  成功后的回调
             * */
            compressedImage: function (params) {
                var that = this;

                var initParams = {
                    src: params.src || "",
                    quality: params.quality || 1,
                };

                var image = new Image();
                image.src = initParams.src;
                image.onload = function () {
                    //获取图片初始宽高
                    var width = image.width;
                    var height = image.height;
                    //判断图片宽度，再按比例设置宽度和高度的值
                    if (width > 1024) {
                        width = 1024;
                        height = Math.ceil(1024 * (image.height / image.width));
                    }

                    //将图片重新画入canvas中
                    var canvas = document.getElementById("compressCanvas");
                    if(!canvas){ //如果没有压缩用的canvas 就创建一个canvas画布
                        var body = document.body;
                        canvas = document.createElement("canvas"); //创建canvas标签
                        canvas.id = "compressCanvas"; //给外层容器添加一个id
                        canvas.style.position = "fixed";
                        canvas.style.zIndex = "-1";
                        canvas.style.opacity = "0";
                        canvas.style.top = "-100%";
                        canvas.style.left = "-100%";
                        body.append(canvas);
                    }

                    var context = canvas.getContext("2d");
                    canvas.width = width;
                    canvas.height = height;
                    context.beginPath();
                    context.fillStyle = "#ffffff";
                    context.fillRect(0, 0, width, height);
                    context.fill();
                    context.closePath();
                    context.drawImage(image, 0, 0, width, height);
                    var replaceSrc = canvas.toDataURL("image/jpeg", initParams.quality); //canvas转DataURL(base64格式)

                    params.success && params.success(replaceSrc);
                };
            },

            /**
             * 将base64转换为文件
             * @dataUrl base64路径地址
             * @fileName 自定义文件名字
             * */
            dataURLtoFile: function (dataUrl, fileName) {
                var arr = dataUrl.split(','), mime = arr[0].match(/:(.*?);/)[1],
                    bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
                while (n--) {
                    u8arr[n] = bstr.charCodeAt(n);
                }
                return new File([u8arr], fileName, {type: mime});
            },
        }
    });
</script>

</body>
</html>